<template>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" :class="`navbar-burger burger ${isBurgerActive ? 'is-active' : ''}`" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample" @click="isBurgerActive = !isBurgerActive">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" :class="`navbar-menu ${isBurgerActive ? 'is-active' : ''}`">
            <div class="navbar-start">
                <router-link to="/" class="navbar-item">Frontpage</router-link>
                <router-link to="/jokes/create" class="navbar-item">New Joke</router-link>
                <router-link to="/jokes" class="navbar-item">Current Jokes</router-link>
                <router-link to="/about" class="navbar-item">About</router-link>
                <a class="navbar-item" href="https://www.patreon.com/lazybun">Support this page</a>
            </div>
        </div>
    </nav>
</template>

<script>

    export default {
        data: () => ({
            isBurgerActive: false
        })
    }

</script>