<template>
    <div>
        <b-field position="is-centered"
                 :type="$v.name.$anyError ? 'is-danger' : ''"
                 :message="$v.name.$anyError ? 'Enter valid alphanumeric text (max 64 characters)' : ''">
            <b-input v-model="$v.name.$model" placeholder="Subpage Name (e.g. me)"/>
        </b-field>
        <b-field position="is-centered"
                 :type="$v.redirectTo.$anyError ? 'is-danger' : ''"
                 :message="$v.redirectTo.$anyError ? 'Enter valid URL' : ''">
            <b-input v-model="$v.redirectTo.$model" placeholder="Forward To? (e.g. https://example.com"/>
        </b-field>
    </div>
</template>

<script>

    import {required, url, alphaNum, maxLength} from 'vuelidate/lib/validators'

    export default {
        data: () => ({
            redirectTo: null,
            name: null
        }),
        methods: {
            getData() {
                this.$v.$touch();
                return {
                    subdomain: this.name.toLowerCase(),
                    template: {
                        forwardTo: this.redirectTo
                    }
                }
            }
        },
        validations: {
            name: {
                required,
                alphaNum,
                maxLength: maxLength(64)
            },
            redirectTo: {
                required,
                url
            }
        }
    }

</script>