<template>
    <div>
        <b-field position="is-centered"
                 :type="$v.name.$anyError ? 'is-danger' : ''"
                 :message="$v.name.$anyError ? 'Enter valid alphanumeric text (max 64 characters)' : ''">
            <b-input v-model="$v.name.$model" placeholder="Subpage Name (e.g. me) "/>
        </b-field>
        <b-field position="is-centered"
                 :type="$v.title.$anyError ? 'is-danger' : ''"
                 :message="$v.title.$anyError ? 'Enter valid alphanumeric text (max 200 characters)' : ''">
            <b-input v-model="$v.title.$model" placeholder="Title text"/>
        </b-field>
        <b-field position="is-centered"
                 :type="$v.subtitle.$anyError ? 'is-danger' : ''"
                 :message="$v.subtitle.$anyError ? 'Enter valid alphanumeric text (max 400 characters)' : ''">
            <b-input v-model="$v.subtitle.$model" placeholder="Subtitle text"/>
        </b-field>
        <b-field position="is-centered"
                 :type="$v.background.$anyError ? 'is-danger' : ''"
                 :message="$v.background.$anyError ? 'Pick a background color' : ''">
            <div @click="isPickerModalOpen = true">
                <b-input v-model="$v.background.$model.hex8" placeholder="Click to pick background color" disabled class="color-picker"/>
            </div>
        </b-field>
        <b-modal :active.sync="isPickerModalOpen" has-modal-card ref="colorpicker">
            <div class="card">
                <chrome-picker v-model="$v.background.$model"></chrome-picker>
            </div>
            <footer class="modal-card-foot">
                <button class="button is-fullwidth" type="button" @click="$refs.colorpicker.close()">Close</button>
            </footer>
        </b-modal>
    </div>
</template>

<script>
    import { Chrome } from 'vue-color'
    import {required, alphaNum, maxLength} from 'vuelidate/lib/validators'

    export default {
        components: {
            'chrome-picker': Chrome
        },
        data: () => ({
            name: "",
            title: "",
            subtitle: "",
            background: "",
            isPickerModalOpen: false
        }),
        methods: {
            getData() {
                return {
                    subdomain: this.name.toLowerCase(),
                    template: {
                        title: this.title,
                        subtitle: this.subtitle,
                        background: this.background.hex8
                    }
                }
            }
        },
        validations: {
            name: {
                required,
                alphaNum,
                maxLength: maxLength(64)
            },
            title: {
                required,
                maxLength: maxLength(200)
            },
            subtitle: {
                required,
                maxLength: maxLength(400)
            },
            background: {
                required
            }
        }
    }

</script>

<style lang="scss" scoped>
    .color-picker {
        & /deep/ input {
            cursor: pointer !important;
        }
    }
</style>