<template>
    <div class="editor">
        <jodit-vue v-model="data" :buttons="buttons" ref="jodit"/>
    </div>
</template>

<script>
    import JoditVue from 'jodit-vue'
    import 'jodit/build/jodit.min.css'

    export default {
        name: 'app',
        components: {JoditVue},
        data: () => ({
            data: `<p>Write page's content here!</p>`,
            buttons: [
                'source',
                '|',
                'bold',
                'strikethrough',
                'underline',
                'italic',
                '|',
                'paragraph',
                'fontsize',
                'brush',
                '|',
                'image',
                'video',
                'table',
                'link',
                '|',
                'undo',
                'redo',
                '|',
                'fullsize'
            ]
        }),
        computed: {
            isFullsize() {
                return this.$refs.jodit.editor.__isFullSize
            }
        }
    }
</script>

<style lang="scss" scoped>

    .editor {
        & /deep/ h1 {
            font-size: 3rem;
        }

        & /deep/ h2 {
            font-size: 2.5rem;
        }

        & /deep/ h3 {
            font-size: 2rem;
        }

        & /deep/ h4 {
            font-size: 1.5rem;
        }

        & /deep/ p {
            font-size: 1rem;
        }
    }

</style>