<template>
  <div id="app">
    <section class="hero is-fullheight is-fullwidth">
      <div class="hero-head" style="z-index: 3">
        <navigation/>
      </div>
      <router-view/>
      <div class="hero-foot m-b-md">
        <p class="is-size-6 has-text-centered">Created by <a href="mailto:krzysztof@piszkod.pl">Krzysztof Piszko</a></p>
      </div>
    </section>
  </div>
</template>

<script>
  import Navigation from './components/Navigation'

  export default {
    components: {Navigation}
  }
</script>

<style lang="scss">
</style>
