<template>
    <div class="hero-body">
        <div class="container has-text-centered is-size-4">
            <ul>
                <li class="is-size-3">This page has been created out of pure hatred for Terminal Fee (Cebu,
                    Phillipines)
                </li>
                <li>Created subpages will be removed after 48 hours.</li>
                <li>Option to keep them forever (or, well, until this page is no longer hosted) coming soon.</li>
                <li>If you want to support this page see <a href="https://www.patreon.com/lazybun">here</a></li>
            </ul>
        </div>
    </div>
</template>
