<template>
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="is-size-2 m-b-sm">Here's a list of what people consider a fucking joke</p>
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <b-table
                            :data="currentJokes"
                            :loading="isLoading"
                            paginated
                            pagination-simple
                            :per-page="10"
                            :current-page.sync="currentPage"
                    >
                        <template slot-scope="props">
                            <b-table-column label="Subdomain" field="name">
                                <a :href="`https://${props.row.subdomain}.${domain}`"><p>{{props.row.subdomain}}</p>
                                </a>
                            </b-table-column>
                            <b-table-column label="Information">
                                <p v-if="props.row.type === 'ForwardPage'">
                                    Redirects to <a :href="props.row.forwardTo">{{props.row.template.forwardTo}}</a>
                                </p>
                                <p v-if="props.row.type === 'BasicTemplatePage'">
                                    Page about: {{ props.row.template.title }}
                                </p>
                                <p v-if="props.row.type === 'RichTextTemplatePage'">
                                    Page about: {{ props.row.template.title }}
                                </p>
                            </b-table-column>
                        </template>
                    </b-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import BTableColumn from "buefy-956/src/components/table/TableColumn";
    import { BACKEND_URL, DOMAIN } from "../utils";

    export default {
        components: {BTableColumn},
        data: () => ({
            currentJokes: [],
            isLoading: false,
            currentPage: 1,
            domain: DOMAIN
        }),
        async created() {
            this.isLoading = true;
            try {
                //TODO: Maybe paginate?
                this.currentJokes = (await this.$http.get(`${BACKEND_URL}/api/page`)).data
            } finally {
                this.isLoading = false;
            }
        }
    }
</script>