<template>
    <div class="hero-body">
        <b-loading :active.sync="isLoading"></b-loading>
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <!-- TODO: Make Save button DRY -->
                    <!-- TODO: Try making tabs not move -->
                    <b-tabs position="is-centered" size="larger-text-hook" class="larger-text" v-model="activeTab">
                        <b-tab-item label="Redirect">
                            <new-redirection class="step-3" ref="newRedirection"></new-redirection>
                            <div class="level">
                                <div class="level-item">
                                    <button class="button is-primary is-large margin-top-small" @click="saveEntry">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </b-tab-item>
                        <b-tab-item label="Title & Subtitle">
                            <new-title-subtitle class="step-4" ref="newTitleSubtitle"></new-title-subtitle>
                            <div class="level">
                                <div class="level-item">
                                    <button class="button is-primary is-large margin-top-small" @click="saveEntry">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </b-tab-item>
                        <b-tab-item label="Rich Text">
                            <new-rich-text class="step-5" ref="newRichText"></new-rich-text>
                            <div class="level">
                                <div class="level-item">
                                    <button class="button is-primary is-large margin-top-small" @click="saveEntry">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </b-tab-item>
                    </b-tabs>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import NewRedirection from '../components/NewRedirection'
    import NewTitleSubtitle from '../components/NewTitleSubtitle'
    import NewRichText from "../components/NewRichText";
    import {BACKEND_URL, DOMAIN} from "../utils";
    import Shepherd from 'shepherd.js'
    import 'shepherd.js/dist/css/shepherd-theme-default.css'

    export default {
        components: {NewRichText, NewRedirection, NewTitleSubtitle},
        data: () => ({
            activeTab: 0,
            isLoading: false
        }),
        methods: {
            async saveEntry() {
                let component;
                let url = "";
                switch (this.activeTab) {
                    case 0:
                        component = this.$refs.newRedirection
                        url = 'forward'
                        break;
                    case 1:
                        component = this.$refs.newTitleSubtitle
                        url = 'basic-template'
                        break;
                    case 2:
                        component = this.$refs.newRichText
                        url = 'rich-text-template'
                        break;
                    default:
                        return
                }
                component.$v.$touch();
                if (component.$v.$anyError) {
                    this.$toast.open({
                        duration: 3000,
                        message: `Please input data properly`,
                        type: 'is-warning'
                    });
                    return
                }
                this.isLoading = true;
                try {
                    await this.$http.post(`${BACKEND_URL}/api/${url}`, component.getData());
                    this.$toast.open({
                        duration: 10000,
                        message: `Page created. See: <a href="https://${component.getData().subdomain}.${DOMAIN}">https://${component.getData().subdomain}.${DOMAIN}</a>`,
                        type: 'is-success'
                    })
                } catch (e) {
                    this.$toast.open({
                        duration: 10000,
                        message: `
                        Something went wrong...
                        Reason: ${e.bodyText}
                        `,
                        type: 'is-danger'
                    })
                } finally {
                    this.isLoading = false;
                }
            }
        },
        mounted() {
            if (!this.$cookies.get('tutorial-0')) {
                this.$cookies.set('tutorial-0', true)
                let dis = this
                let tour = new Shepherd.Tour({
                    defaultStepOptions: {
                        classes: 'shadow-md bg-purple-dark',
                        scrollTo: true
                    },
                    confirmCancel: true
                });

                tour.addStep('step0', {
                    text: 'So, you want to tell the world that something is a fucking joke. Let me show you how',
                    buttons: [
                        {
                            text: 'Stop tour',
                            action: tour.cancel
                        },
                        {
                            text: 'Next',
                            action: tour.next
                        }
                    ]
                });
                tour.addStep('step1', {
                    text: 'This website allows you to create subpages with your content. That means if e.g. your mom is a joke, then you could create <code>https://yourmom.isthisafuckingjoke.com</code>.',
                    buttons: [
                        {
                            text: 'Next',
                            action: tour.next
                        }
                    ]
                });
                tour.addStep('step2', {
                    text: 'There are currently 3 types of pages you can create.',
                    buttons: [
                        {
                            text: 'Next',
                            action: () => {
                                dis.activeTab = 0;
                                setTimeout(tour.next, 300)
                            }
                        }
                    ]
                });
                tour.addStep('step3', {
                    text: 'Redirect - which will simply redirect to another URL. E.g <code>https://yourmom.isthisafuckingjoke.com</code> could redirect to <code>https://isfat.com</code>',
                    buttons: [
                        {
                            text: 'Next',
                            action: () => {
                                dis.activeTab = 1;
                                setTimeout(tour.next, 300)
                            }
                        }
                    ],
                    attachTo: '.step-3 top',
                });
                tour.addStep('step4', {
                    text: 'Title & Subtitle - which will create a page with given title, subtitle and background color.',
                    buttons: [
                        {
                            text: 'Next',
                            action: () => {
                                dis.activeTab = 2;
                                setTimeout(tour.next, 300)
                            }
                        }
                    ],
                    attachTo: '.step-4 top',
                });
                tour.addStep('step5', {
                    text: 'Rich Text - perfect fit if you want to go all out and write tons of text with images, embedded youtube etc.',
                    buttons: [
                        {
                            text: 'Next',
                            action: () => {
                                dis.activeTab = 0;
                                setTimeout(tour.next, 300)
                            }
                        }
                    ],
                    attachTo: '.step-5 top',
                });
                tour.addStep('step6', {
                    text: `That's it. For more information see 'About' page. Have fun!`,
                    buttons: [
                        {
                            text: 'Close',
                            action: tour.complete
                        }
                    ]
                });
                tour.start();
            }
        }
    }
</script>

<style scoped lang="scss">

    .margin-top-small {
        margin-top: 1rem;
    }

</style>