<template>
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="damn-big-title">Is This A Fucking Joke?</p>
            <p class="is-size-2">Well, is it?</p>
            <router-link class="button is-primary is-size-4" to="/jokes/create">Let the world know</router-link>
        </div>
    </div>
</template>

<style scoped lang="scss">
    .damn-big-title {
        font-size: 4rem;
    }
</style>